<%= form_with(model: prototype, local: true) do |form| %>
          <div class="field">
          <%= form.label :title, "プロトタイプの名称" %><br />
          <%= form.text_field :title,  id:"prototype_title"%>
        </div>

        <div class="field">
          <%= form.label :catch_copy, "キャッチコピー" %><br />
          <%= form.text_area :catch_copy, id:"prototype_catch_copy" %>
        </div>

        <div class="field">
          <%= form.label :concept, "コンセプト", id:"prototype_concept" %><br />
          <%= form.text_area :concept%>
        </div>

        <div class="field">
          <%= form.label :image, "プロトタイプの画像" %><br />
          <%= form.file_field :image, id:"prototype_image" %>
        </div>

        <%= form.submit "新規登録" %>
      <% end %>